---
# Only the main Sass file needs front matter (the dashes are enough)
---

// body
    // background: #F9F9F9
.main
    margin-top: 7em
.ui.fixed.menu
    height: 50px
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child
    border-left: none
.ui.menu .item:before
    position: initial
    width: 0
