---
layout: default
---
<div class="ui main index container">
<table class="ui celled stackable structured table">
  <thead>
    <tr>
      <th rowspan="2">Name</th>
      <th rowspan="2">Website</th>
      <th colspan="3">Password Policy</th>
      <!-- <th rowspan="2">Hashing Algorithm</th> -->
      <th rowspan="2"><a href="https://www.ssllabs.com/ssltest/index.html">Qualys SSL Labs</a><span class="ui icon" data-tooltip="A score on the security of the websites https connection (TLS)." data-inverted="" data-position="top right"><i class="info circle icon"></i></span></th>
      <th rowspan="2"><a href="https://securityheaders.io">Security Headers</a><span class="ui icon" data-tooltip="A score on the ability to protect the website and your browser from malicious actors." data-inverted="" data-position="top right"><i class="info circle icon"></i></span></th>
      <!-- <th rowspan="2"><a href="http://plaintextoffenders.com">Plain Text Offender</a></th> -->
    </tr>
    <tr>
      <th>Min<span class="ui icon" data-tooltip="Minimum number of characters allowed" data-inverted=""><i class="info circle icon"></i></span></th>
      <th>Max<span class="ui icon" data-tooltip="Maximum number of characters allowed" data-inverted=""><i class="info circle icon"></i></span></th>
      <th>Character set<span class="ui icon" data-tooltip="The different character sets that are allowed" data-inverted=""><i class="info circle icon"></i></span></th>
      <!-- <th>Top10<span class="ui icon" data-tooltip="If the top used passwords are blacklisted" data-inverted=""><i class="info circle icon"></i></span></th> -->
      <!-- <th>Proof<span class="ui icon" data-tooltip="Image of the password policy" data-inverted=""><i class="info circle icon"></i></span></th> -->
    </tr>
  </thead>
  <tbody>
{% for website in paginator.posts %}
  {% assign cleanurl = website._url | remove_first: 'http:' | remove_first: 'https:' | remove: '/' %}
  <tr>
    <td>
      <a href="{{ website.url | prepend: site.baseurl }}">{{ website.name | default: website.title }}</a>
    </td>
    <td>
      <a href="{{ website._url | downcase }}">{{ cleanurl }}</a>
    </td>
    <td class="center aligned
    {% if website.policy.min < 8 %}
      negative
    {% elsif website.policy.min >= 8 %}
      positive
    {% endif %}">
      {{ website.policy.min }}
    </td>
    <td class="center aligned
    {% if website.policy.max < 20 %}
      negative
    {% elsif website.policy.max < 64 %}
      warning
    {% else %}
      positive
    {% endif %}">
      {{ website.policy.max | default: "-" }}
    </td>
    <td class="
    {% if website.policy.character-set.size < 3  %}
      negative
    {% elsif website.policy.character-set.size >= 3 %}
      {% if website.policy.character-set[0] == 'Letters' and website.policy.character-set[1] == 'Numbers' and website.policy.character-set[2] == 'Special' %}
        positive
      {% else %}
        negative
      {% endif %}
    {% endif %}">
      {% if website.policy.character-set %}
        {{ website.policy.character-set | array_to_sentence_string }}
      {% endif %}
    </td>
<!--     <td class="center aligned
    {% if website.policy.filter-top == false or website.policy.filter-top == 'No' %}
      negative
    {% elsif website.policy.filter-top == true or website.policy.filter-top == 'Yes' %}
      positive
    {% endif %}">
    {% if website.policy.top10 == false %}
      No
    {% elsif website.policy.top10 == true %}
      Yes
    {% else %}
      {{website.policy.top10}}
    {% endif %}
    </td> -->
<!--     <td>
      <a href="{{site.baseurl}}/assets/images/{{website.policy.proof}}">
        <img class="ui image centered" src="{{site.baseurl}}/assets/images/{{website.policy.proof}}" alt="">
      </a>
    </td> -->
    <!-- <td>{{ website.hashalgorithm }}</td> -->
    <td class="center aligned
    {% case website.ssllabs %}
    {% when 'A+' or 'a+' or 'A' or 'a' or 'A-' or 'a-' %}
      positive
    {% when 'B' or 'b' or 'C' or 'c' %}
      warning
    {% when 'D' or 'd' or 'F' or 'f' %}
      negative
    {% endcase %}">
      <a class="ui basic button
      {% case website.ssllabs %}
      {% when 'A+' or 'a+' or 'A' or 'a' or 'A-' or 'a-' %}
        positive
      {% when 'B' or 'b' or 'C' or 'c' %}
        orange
      {% when 'D' or 'd' or 'F' or 'f' %}
        negative
      {% endcase %}" href="https://www.ssllabs.com/ssltest/analyze.html?d={{ website._url | cgi_escape }}">{{ website.ssllabs | capitalize }}</a>
    </td>
    <td class="center aligned
    {% case website.securityheaders %}
    {% when 'A+' or 'a+' or 'A' or 'a' %}
      positive
    {% when 'B' or 'b' or 'C' or 'c' or 'D' or 'd' %}
      warning
    {% when 'E' or 'e' or 'F' or 'f' %}
      negative
    {% endcase %}">
      <a class="ui basic button
      {% case website.securityheaders %}
      {% when 'A+' or 'a+' or 'A' or 'a' %}
        positive
      {% when 'B' or 'b' or 'C' or 'c' or 'D' or 'd' %}
        orange
      {% when  'E' or 'e' or 'F' or 'f' %}
        negative
      {% endcase %}" href="https://securityheaders.io/?q={{ website._url | cgi_escape }}&followRedirects=on">{{ website.securityheaders | capitalize }}</a>
    </td>
<!--     <td class="center aligned
    {% if website.plaintextoffender == true or website.plaintextoffender == 'Yes' %}
      negative
    {% endif %}">
    {% if website.plaintextoffender == false %}
      No
    {% elsif website.plaintextoffender == true %}
      Yes
    {% else %}
      {{website.plaintextoffender}}
    {% endif %}
    </td> -->

  </tr>
{% endfor %}
  </tbody>
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <tfoot>
      <tr>
        <th colspan="9" class="center aligned">
          <div class="ui pagination menu">
            {% if paginator.previous_page %}
              <a class="icon item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <i class="left chevron icon"></i>
              </a>
            {% else %}
              <a class="icon disabled item">
                <i class="left chevron icon"></i>
              </a>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <a class="active item">{{ page }}</a>
              {% elsif page == 1 %}
                <a class="item" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
              {% else %}
                <a class="item" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <a class="icon item" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <i class="right chevron icon"></i>
              </a>
            {% else %}
              <a class="icon disabled item">
                <i class="right chevron icon"></i>
              </a>
            {% endif %}
          </div>
        </th>
      </tr>
    </tfoot>
  {% endif %}
</table>
</div>
