<footer class="ui vertical inverted footer segment">
  <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
        <span class="item">
          {% if site.github %}
            <a href="{{ site.github.repository_url }}"><i class="github huge icon"></i></a>
          {% endif %}
        </span>
      <span class="item">
        <a href="{{site.baseurl}}/feed.xml"><i class="rss huge icon"></i></a>
      </span>
      <span class="item">
        <a href="{{site.baseurl}}/sitemap.xml"><i class="sitemap huge icon"></i></a>
      </span>
      <span class="item">
        <a href="{{site.baseurl}}/data.json"><i class="database huge icon"></i></a>
      </span>
    </div>
  </div>
</footer>
