---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Customisations:
// body
//     background: #F9F9F9

// Fixes:
.ui.main.container
    margin-top: 5em

// safari bug
.ui.link.list .item:first-child i.icon
    margin: 0

img, .image, .ui.table td .image
    max-width: 100%
    height: auto

// Mobile:
@media (max-width: 767px)
    .ui.main.container
        margin-top: 1em
    .ui.search .transparent .prompt
        min-height: 2em
    .ui.search i.icon
        font-size: 1.3em
        margin: 5px 0
    .ui.fixed.menu
        position: initial
// Tablet
@media only screen and (max-width: 991px) and (min-width: 768px)
    .ui.main.index.container
        width: 100%
// Big screens
@media only screen and (min-width: 1200px)
    .ui.main.container
        width: 80%
